.container {
	background-color: aliceblue;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	max-height: 1000px;
	min-height: 500px;
	height: 1000px;
	max-width: 900px;
	min-width: 600px;
	width: 900px;

	transform: translate(-50%, -50%);
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 99;
	margin: auto;
}

.container .title {
	text-align: center;
}

.title {
	display: block;
	font-family: "Flexo-Regular", arial, sans-serif;
	background: -webkit-linear-gradient(rgba(202, 1, 1, 255), rgba(254, 1, 1, 255));
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;

	font-weight: 600;
	-webkit-text-stroke: 1px rgba(254, 1, 1, 255);
	font-size: 60px;
	margin-bottom: 0;
}

.icon {
	background: url('../../../public/img/pokedex-icon-9\ \(1\).jpg');
	background-repeat: no-repeat;
	height: 45px;
	width: 45px;
	display: inline-block;
	margin-left: 10px;
}

.Searchbar {
	/* margin-bottom: 20px; */
	margin-left: 25px;
}

.Searchbar .ant-input:hover {
	border-color: rgba(254, 1, 1, 255);
}

.Searchbar .ant-input:focus {
	border-color: rgba(254, 1, 1, 255);
}

.Searchbar .ant-btn-primary {
	border-color: rgba(254, 1, 1, 255);
	background: rgba(254, 1, 1, 255);
}

.Searchbar .ant-btn-primary:hover {
	background: rgb(164, 4, 4);
	border-color: rgb(164, 4, 4);
}

.search-cards-wrapper {
	border-radius: 10px;
	background-color: white;

	height: 825px;
	width: 875px;

	overflow-y: scroll;

	transform: translate(-50%, -50%);
	position: fixed;
	left: 50%;
	top: 55%;
	margin-top: 20px;
}

.search-cards-wrapper::-webkit-scrollbar {
	width: 20px;
}

.search-cards-wrapper::-webkit-scrollbar-track {
	background-color: transparent;
}

.search-cards-wrapper::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

.search-cards-wrapper::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf;
}


.card-col {
	padding: 16px;
}

.pokemon-card {
	margin-right: 0;
}

.ant-card-meta-detail {
	width: 100%;
}

.ant-collapse {
	width: 100%;
}

.pokemon-type{
	font-weight: 700;
}

.ant-collapse-content-box {
	align-content: flex-end;
}

.ant-card-meta-title {
	font-size: large;
	font-weight: 900;
}