.cards-img-skeleton {
	max-width: 252px;
	max-height: 252px;
	min-width: 252px;
	min-height: 252px;

	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 10px;
	margin-bottom: 15px;
}